{% extends "layout/basic.html" %}

{% block title %}Добавление объявления{% endblock %}

{% block content %}
<h2>Add the Callboard</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
</form>
{% endblock %}
<!--в теге <form> мы поместили тег шаблонизатора csrf_token. Он создает в 
форме скрытое поле, хранящее цифровой жетон, получив который, контроллер 
«поймет», что данные бьши отправлены с текущего сайта, и им можно доверять. 
Это часть подсистемы обеспечения безопасности Django.
Форма в контексте шаблона хранится в переменной foпn. Эту переменную 
создает базовый класс CreateView; для вывода формы, чьи элементы управления 
находятся на отдельных абзацах, применяется метод as_p() класса ModelForm;
метод as_p() генерирует только код, создающий элементы управления. 
Тег <form>, необходимый для создания самой формы, и тег <input>, 
формирующий кнопку отправки данных, нам придется вставить самостоятельно.
В теге <form> мы указали метод отправки данных POST, но не записали 
интернет-адрес, по которому будут отправлены занесенные в форму данные. 
В этом случае данные будут отправлены по тому же интернет-адресу, с 
которого была загружена текущая страница, т. е" в нашем случае, тому же 
контроллеру-классу вьcreateView, который благополучно обработает и сохранит их;
-->