{% extends "layout/basic.html" %}

{% block content %}
{% for bb in bbs %}
<div class="boards">
    <!-- вывод объявлений -->
    <h2>{{ bb.title }}</h2>
    <p>{{ bb.content }}</p>
    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
</div>
{% endfor %}
{% endblock %}

<!--

Применительно к веб-страницам, шаблон это файл с НТМL-кодом страницы,
содержащий особые команды шаблонизатора: директивы, теги и фильтры. 
- Директивы указывают поместить в заданное место НТМL-кода какое-либо 
  значение 
- Tеги управляют генерированием содержимого результирующего документа
- Фильтры выполняют преобразования указанного значения перед выводом.


Тег шаблонизатора:

{% for bb in bbs %} На каждом проходе он извлекает из последовательности, 
. . . . . .         хранящейся в переменной bbs, очередной элемент, 
{% endfor %}        заносит его в переменную bb.

Директива шаблонизатора:

{{ bb.title }}  указывает извлечь значение из атрибута title объекта, 
                хранящегося в созданной упомянутым ранее тегом переменной 
bb, и вставить это значение в то место кода, в котором находится она сама

Фильтр date:

{{ bb.published|date:"d.m.Y H:i:s" }} преобразует значение из атрибута
                                      published объекта, хранящегося в
переменной bb, т.е. дату и время публикации объявления, в формат, 
собственно, даты и времени. Сам формат, в который нужно преобразовать 
значение, указывается в параметре фильтра в виде строки. 

-->