<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <span v-for="i in textLine.length" 
            :class="{ 
                set_red: (textLine[i-1] !== typedText[i-1] && i-1 < typedText.length),
                set_green: (textLine[i-1] === typedText[i-1] && i-1 < typedText.length),
            }"
            >
                {{ textLine[i-1] }}
            </span>
        </div>
        <input type="text" v-model="typedText">
    </div>
</body>

<script>
    const app = Vue.createApp({
      name: "Application",
      // Определение данных
      data() {
        return {
            textLine: "splited() { return this.text.split('') }",
            typedText: "type"
        }
    },
      computed: {
        //   typedCount() { return this.}
      },

      // Определение методов
      methods: {
        increase: function() {
            this.number++
        }
      }

    }) 
    app.mount('#app')
</script>

<style>
    .set_green {
        color: green;
        background-color: rgb(222, 255, 255);
    }
    .set_red {
        color: red;
        background-color: rgb(255, 222, 222);
    }
</style>

</html>